<div class="col-10 offset-1">
  <h2>Calming Image</h2>

  <p>
    Here is the picture I often focus on and mentally put myself there for a few minutes as a stress reliever. 
  </p>
</div>
  <br /> 

 <div class="row">
    <div class="col-12 col-10 offset-1" style="padding-right:160px;">
      <%= image_tag 'corpus.jpg', class: 'img-fluid' %>
    </div>
   
<br class="clear" />

</div>
<br class="clear" />
<br />
<br />
<br />
<br />