<div class="col-10 offset-1">
  <h2>Calming Images</h2>

  <p>
    Here are a few images I found that if I focus on as mentally put myself there I find them to be very calming. 
  </p>
</div>
  <br /> 

<div class="row">
    <div class="col-12 col-sm-8">
      <%= image_tag 'austin.jpg', class: 'img-fluid' %>
    </div>

 <div class="row">
    <div class="col-12 col-sm-8" style="padding-top:30px;">
      <%= image_tag 'corpus.jpg', class: 'img-fluid' %>
    </div>

<div class="row">
    <div class="col-12 col-sm-8" style="padding-top:30px;">
      <%= image_tag 'austin2.jpg', class: 'img-fluid' %>
    </div>
   
<br class="clear" />

</div>
<br class="clear" />
<br />
<br />
<br />
<br />