
<h2>How do you deal with stress?</h2>

<br /> 

<div class="row">
    <div class="col-10 offset-1" style="padding-bottom:40px;">
      <%= image_tag 'stress-unsplash.jpg', class: 'img-fluid' %>
    </div>

<br />

<div class="col-10 offset-1 about">
<p>I believe there are times when all of us experience stress.  There are many triggers for stress from environments, escalated conversations, stuggling to meet a work deadlines and on and on.  I have heard of many different methods for dealing with stress and I want to stress (no pun intended) that I am by no means an expert.  What I can do is discuss a few that have worked for me.
<br />
<br />
Getting enough rest: I can definitely say that when I am tired I get stressed in situations that normally wouldn't bother me.  So I recommend getting at least seven to eight hours of sleep.  I have heard this from doctors as well.
<br />
<br />
Excercise: I will tell you up front I am not a jogger and I don't have a gym membership.  However, I do love to swim.  I have a mental picture in my head when I go swimming that when I am done and am getting out of the pool I am leaving all the stress I was feeling in the pool and coming out stress-free.  This seems to work for me.  I come out feeling relaxed and calm.  However you get your excercise know that this is a proven method for getting rid of stress.
<br />
<br />
Meditation: Often you find yourself getting stressed but not in an environment where rest or excercise is an option.  This happens to me sometimes when I am in a work environment staring at a computer and my options for stress relief are limited.  One trick I have learned is to take a few minutes to find a peaceful, calming picture on the internet and then set my browser so that the image is as full screen as I can make it.  I then take a few deep breaths and stare at it and try to pretend I am there enjoying the environment with nothing else to do.  I temporarily put aside my tasks for the day and am basically in the picture on vacation relaxing.  After a few minutes I often find I can go back to work feeling refreshed and and approach my task with a calm perspective.  Since this is a method I use more than any others, I have included a link called "Image" at the top of this page to take you to a picture I use often I took while on vacation in Corpus Christi, TX.  If you are feeling stressed, try it and see if it helps you.
</p>
</div>


<br class="clear" />

</div>
<br class="clear" />
<br />
<br />
<br />
<br />