@import "bootstrap";

.clear {
  clear: both;
}

header {
  border-top: 9px solid #02010D;
  border-bottom: 3px solid #02010D;
  background-color: #F02F17;
  padding-top: 15px;
}

h1 {
   font-family: 'aller_rg-webfont.woff', sans-serif;
   font-style: italic;
   color:#1E17F0;
}

.links a {
 font-family: 'aller_rg-webfont.woff', sans-serif;
 font-style: italic;
 font-size: 20px;
 color:#070707; 
}