@import "bootstrap";

.clear {
  clear: both;
}

header {
  border-top: 9px solid #02010D;
  border-bottom: 3px solid #02010D;
  background-color: #F98916;
  padding-top: 15px;
}

h1 {
   font-family: 'aller_rg-webfont.woff', sans-serif;
   font-style: italic;
   color:#1E17F0;
}

.links a {
  font-family: 'aller_rg-webfont.woff', sans-serif;
  font-style: italic;
  font-size: 20px;
  color:#070707;
  border-bottom: 3px solid #dfdfdf; 
}

.footer-blurb {
  font-family: 'aller_rg-webfont.woff', sans-serif;
  font-style: italic;
  text-align: right;
  font-size: 20px;
  color:#070707;
 }

 .footer {
  font-family: 'aller_rg-webfont.woff', sans-serif;
  font-style: italic;
  text-align: left;
  font-size: 20px;
  color:#070707;
 }

h2 {
  font-family: 'aller_rg-webfont.woff', sans-serif;
  font-style: italic;
  color:#16F9EA;
  text-align: center;
  }

h4 {
  font-family: 'aller_rg-webfont.woff', sans-serif;
  font-style: italic;
  color:#0588FB;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

img {
  padding-top:30px;
  width: 100%;
}

p {
 font-family: 'aller_rg-webfont.woff', sans-serif;
 font-style: italic;
 font-size: 20px;
 color:#070707; 
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}



