@import "bootstrap";

.clear {
  clear: both;
}

header {
  border-top: 9px solid #02010D;
  border-bottom: 3px solid #02010D;
  background-color: #F98916;
  padding-top: 15px;
}

h1 {
   font-family: 'aller_rg-webfont.woff', sans-serif;
   font-style: italic;
   color:#1E17F0;
}

.links a {
  font-family: 'aller_rg-webfont.woff', sans-serif;
  font-style: italic;
  font-size: 20px;
  color:#070707;
  border-bottom: 3px solid #dfdfdf; 
}

.footer-blurb {
  font-family: 'aller_rg-webfont.woff', sans-serif;
  font-style: italic;
  text-align: right;
  font-size: 20px;
  color:#070707;
 }

 .footer {
  font-family: 'aller_rg-webfont.woff', sans-serif;
  font-style: italic;
  text-align: left;
  font-size: 20px;
  color:#070707;
 }

h2 {
  font-family: 'aller_rg-webfont.woff', sans-serif;
  font-style: italic;
  text-align: center;
  color:#16F9EA;
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

img {
  padding-top:30px;
  width: 100%;
}

p {
 font-family: 'aller_rg-webfont.woff', sans-serif;
 font-style: italic;
 font-size: 20px;
 color:#070707; 
}

